/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');

/*========== colors ==========*/
$first-color: hsl(45, 98%, 50%);
$body-color: hsl(0, 0%, 100%);
$input-color:hsl(219, 100%, 95%);
$p-color: hsl(240, 95%, 17%);
$text-color: hsl(0, 0%, 17%);
$text-color-dark:hsl(0, 0%, 0%);

 /*========== font & typography ==========*/
 $body-font: "Heebo", sans-serif;