/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Satisfy&display=swap');


/*=============== BASE ===============*/
/*
font size (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

spacing (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */

/*========== BASE ==========*/
html {
  font-size: 62.5%;
  /* 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  color: #3A3A3A;
  direction: rtl;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  /* 80 / 96 / 128 */
  padding: 9.6rem 0 12.8rem;
}

.section__title {
  font-size: 3.5rem;
  font-weight: 900;
}

.btn {
  background-color: #1AE0EC;
  color: #3A3A3A;
  font-weight: 700;
  padding: 0 3rem;
  border-radius: 25px;
}

/*=============== HEADER & NAV ===============*/
.header {
  background-color: #fff;
  border-top: 2px solid #1AE0EC;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  height: 8rem;
  padding: 1rem 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1.2rem;
  align-items: center;
  color: #444444;
}

.nav__logo span {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
}

.nav__toggle {
  display: none;
  font-size: 3rem;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 3.2rem;
  font-size: 2.5rem;
}

.nav__link {
  color: #2C2C2C;
}

.nav__link:hover {
  color: #1AE0EC;
}

/*=============== HERO ===============*/
.hero {
  position: relative;
  background-image:
    linear-gradient(rgba(26, 224, 236, 0.4), rgba(26, 224, 236, 0.4)),
    url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero_container {
  padding-block: 12.8rem;
  text-align: center;
}

.hero__title {
  font-size: 8rem;
  font-weight: 900;
}

.hero__discription {
  padding-inline: 9.6rem;
  font-weight: 500;
}