/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Satisfy&display=swap');

/*========== BASE ==========*/
html {
  font-size: 62.5%;
  /* 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input,
button,
body {
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
}

body {
  background-color: hsl(183, 100%, 96%);
  color: hsl(0, 0%, 23%);
  direction: rtl;
}

input,
button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
  max-width: 120rem;
  margin-inline: 2.4rem;
}

.section {
  padding-block: 8rem;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.btn,
.btn:link,
.btn:visited {
  background-color: hsl(183, 85%, 51%);
  color: hsl(0, 0%, 17%);
  font-weight: 500;
  padding: .8rem 1.6rem;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: all 1s;
}

.btn:hover,
.btn:active {
  box-shadow: 0 1px 30px hsla(183, 85%, 51%, .5);
  transition-duration: .1s;
  transform: translateY(-2px);
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: hsla(0, 0%, 96%, .9);
  border-top: 2px solid hsl(183, 85%, 51%);
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, .1);
}

.nav {
  height: 6.4rem;
  justify-content: space-between;
}

.nav__logo {
  column-gap: 1.2rem;
  align-items: center;
}

.nav__logo span {
  font-family: "Satisfy", cursive;
  font-size: 2.5rem;
  color: hsl(0, 0%, 17%);
  display: none;
}

.nav__logo img {
  width: 45px;
  border-radius: 50%;
}

.nav__toggle,
.nav__close {
  color: hsl(183, 85%, 51%);
  font-size: 2.4rem;
}

/* nav for moblie and ipad devices */
@media screen and (max-width: 1020px) {
  .nav__menu {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: hsl(0, 0%, 96%);
    width: 100%;
    padding-block: 6.4rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    transition: all .6s ease-in-out;
  }
}

.nav__list {
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
  color: hsl(0, 0%, 17%);
  transition: transform .5s;
}

.nav__link:hover,
.nav__link:active {
  color: hsl(183, 85%, 51%);
  font-weight: 700;
  transform: scale(1.2);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  top: 0;
}

/*=============== HERO ===============*/
.hero {
  background-image:
    linear-gradient(hsla(183, 85%, 51%, .4), hsla(183, 85%, 51%, .4)),
    url('../images/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  padding-block-start: 8rem;
  text-align: center;
}

.hero__title {
  font-size: 4.6rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.hero__description {
  font-weight: 500;
  padding-inline: 2.4rem;
  margin-bottom: 4.8rem;
}

.hero__btn-container {
  align-items: center;
  justify-content: center;
  column-gap: 1.2rem;
}

/*=============== FEATURED ===============*/
.featured {
  background-color: hsl(0, 0%, 96%);
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, .1);
}

.featured__logos {
  padding-block: 1.4rem;
  justify-content: center;
  gap: 2.4rem;
}

.featured__logo img {
  width: 25px;
  transition: transform .4s;
}

.featured__logo:hover img {
  transform: scale(1.2);
}

/*=============== PROJECT ===============*/
.project__container {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 40px hsla(0, 0%, 0%, 0.4);
}

.project__img {
  width: 100%;
}

/*=============== FOOTER ===============*/
.footer__copy {
  width: 100%;
  background-color: hsl(0, 0%, 17%);
  color: hsl(183, 85%, 51%);
  justify-content: space-between;
  padding: .8rem 1.6rem;
  border-bottom: 5px solid hsl(183, 85%, 51%);
}

/*========== MEDIA QUERIES ==========*/
/* Large devices such as laptops (1024px and up) */
@media screen and (min-width: 1024px) {

  body {
    font-size: 2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
  }

  .container {
    margin-inline: auto;
  }

  .nav {
    padding-inline: 2.4rem;
    height: 8rem;
  }

  .nav__logo img {
    width: 62px;
  }

  .nav__logo span {
    display: inline-block;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 6.4rem;
  }

  .nav__close,
  .nav__toggle {
    display: none;
  }

  .hero__title {
    font-size: 8rem;
  }

  .featured__logo img {
    width: 100px;
  }
}